IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 6.0
ENABLE_USER_SCRIPT_SANDBOXING = YES
CLANG_ENABLE_MODULE_VERIFIER = YES
LOCALIZATION_PREFERS_STRING_CATALOGS = YES
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = Resources/Linco.entitlements
MARKETING_VERSION = 1.0.2
CURRENT_PROJECT_VERSION = 2
